.feature {
  height: 83vh;
  background-image: url("../assets/landing-page-image.svg");
  background-size: 500px 500px;
  background-position: 88% 60%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 200px;
  background-color: var(--secondary);
  position: relative;
  z-index: 600;
}

.feature__text {
  width: 53%;
}

.feature__text__header {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}

.feature__text__header span {
  color: var(--primary);
}

.feature__text__desc {
  margin: 30px 0;
  font-size: 14px;
  width: 90%;
  line-height: 26px;
  color: #374E70;
}

.feature__text__btn {
  border: none;
  outline: none;
  background:  var(--primary);
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
  width: 140px;
  height: 48px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(109, 106, 254, 0.3);
}

.feature__text__btn--outlined {
  border: 1px solid #6D6AFE;
  color:  var(--black);
  background-color: transparent;
  font-size: 16px;
  line-height: 26px;
  box-shadow: none;
}


.feature__perks-w {
  width: 70%;
  min-width: 900px;
  position: absolute;
  left: 50%;
  bottom: -75px;
  transform: translate(-50%);
  height: 126px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.feature__perks__card {
  width: 250px;
  height: 110px;
  background: var(--white);
  box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.feature__perks__card:not(:last-child) {
  margin-right: 30px;
}

.perks__card__right-border{
  width: 5px;
  height: 46px;
  background: var(--primary);
  margin-right: 15px;
}

.perks__card__icon{
  width: 83px;
  height: 72px;
  background: var(--primary_light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.perks__card__icon--primary{
  background: var(--primary);
}

.perks__card__text{
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  width: 100px;
  box-sizing: border-box;

}