.feature {
  height: 83vh;
  background-image: url("../assets/landing-page-image.svg");
  background-size: 400px 400px;
  background-position: 85% 60%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 200px;
  background-color: var(--secondary);
  position: relative;
  z-index: 600;
}

.feature__text {
  width: 53%;
}

.feature__text__header {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}

.feature__text__header span {
  color: var(--primary);
}

.feature__text__desc {
  margin: 30px 0;
  font-size: 14px;
  width: 90%;
  line-height: 26px;
  color: #374E70;
}

.feature__text__btn {
  border: none;
  outline: none;
  background:  var(--primary);
  color: var(--white);
  cursor: pointer;
  width: 140px;
  height: 48px;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(109, 106, 254, 0.3);
}

.feature__text__btn--outlined {
  border: 1px solid #6D6AFE;
  color:  var(--black);
  background-color: transparent;
  font-size: 15px;
  box-shadow: none;
  width: 110px;
  height: 40px;
  margin-left: 30px;
  box-sizing: border-box;
}


.feature__perks-w {
  width: 70%;
  min-width: 750px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%);
  height: 126px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

.feature__perks__card {
  width: 230px;
  height: 90px;
  background: var(--white);
  box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.feature__perks__card:not(:last-child) {
  margin-right: 25px;
}

.perks__card__right-border{
  width: 4px;
  height: 43px;
  background: var(--primary);
  margin-right: 10px;
}

.perks__card__icon{
  width: 70px;
  height: 62px;
  background: var(--primary_light);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.perks__card__icon--primary{
  background: var(--primary);
}

.perks__card__text{
  margin-left: 20px;
  font-size: 14px;
  text-align: center;
  width: 100px;
  box-sizing: border-box;
}

@media screen and (max-width: 1250px) {
    .feature {
      padding: 0 80px;
      background-size: 350px 400px;
      background-position: 96% 58%;
    }

    .feature__text {
      width: 70%;
    }
}

@media screen and (max-width: 950px) {
  .feature {
    background-image: none;
    padding:  50px 80px;
    height: auto;
    position: unset;
    justify-content: flex-start;
    flex-direction: column;
  }
  .feature__text {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .feature__text__header {
    font-size: 30px;
    text-align: center;
  }

  .feature__perks-w {
    width: 100%;
    min-width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .feature__perks__card {
    width: 280px;
    height: 90px;
    display: flex;
    align-items: center;
    margin-right: 0 !important;

  }
}

@media screen and (max-width: 500px) {
    .feature {
      background-image: none;
      padding:  50px 20px;
      height: auto;
      position: unset;
    }

}