.info__what{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  padding: 0 200px;
  padding-top: 140px;
  background-color: var(--white);
  box-sizing: border-box;
  position: relative;
  z-index: 500;
}

.what__title {
  color: #374E70;
  line-height: 30px;
}

.what__desc {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 140px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #374E70;
}

.info__why {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 200px;
  background-color: var(--secondary);
  box-sizing: border-box;
  position: relative;
}



.why__desc {
  width: 50%;
  margin-bottom: 40px;
  line-height: 25px;
  font-size: 15px;
  color: var(--black);
  margin-left: 50px;
  color: #374E70;
  font-size: 15px;
  line-height: 30px;
}

.why__desc p ul{
  width: 300px;
}

.info__cards-w{
  width: 100%;
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--white);
}

.info__cards-w h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 50px;
  color: #132A3A;
}

.info__cards{
  width: 95%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}


.info__card {
  width: 300px;
  height: 383px;
  background: var(--white);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  padding: 25px 40px;
  color: #263D5F;
}

.info__card h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.info__card ul {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
}

.info__card ul li:before {
  content: "\2022"; 
  color: var(--primary);
  font-weight: bold; 
  font-size: 24px;
  display: inline-block; 
  width: 1.5em; 
  margin-left: -1.5em;
}

.info__card:not(:last-child) {
  margin-right: 30px;
}

.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #E6F0FF;
}

@media screen and (max-width: 1124px) {
  .info__what {
    padding: 0px;
    padding-top: 80px;
  }

  .info__why {
    padding: 50px
  }

  .why__desc {
    margin-left: 30px;
  }

  .info__cards-w{
    width: 100%;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--white);
  }
}