.pricing-w {
  height: 94vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 auto;
  background-color: var(--bgSecondary);
  overflow-x: hidden;
}

.pricing__text {
  margin: 80px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__text__header {
  color: var(--primary);
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
}

.pricing__text__desc {
  color: #374E70;
  font-size: 16px;
  line-height: 26px;
}

.pricing__boxes-w {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pricing__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 390px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  box-sizing: border-box;
  padding: 25px 0;
}

.pricing__box__header {
  margin: 0;
  font-size: 15px;
  width: 100%;
}

.pricing__box__header h3 {
  margin: 0;
  width: 120px;
  background: var(--primary);
  color: var(--white);
  text-align: center;
  padding: 5px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0px 8px 20px rgba(109, 106, 254, 0.2);
}

.pricing__box__total {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.pricing__box__total-text {
  font-size: 12px;
  text-align: center;
  margin: 0;
}

.pricing__box__img {
  width: 100px;
  height: 120px;
  margin-top: 10px;
}

.pricing__box__btn {
  outline: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: 30px;
  width: 140px;
  height: 48px;
  border: 1px solid #6D6AFE;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 26px;
  background: var(--white);
  color: var(--primary);
}
