.syllabus-w {
  height: 94vh;
  background-image: url('../assets/landing-page-image1.png');
  background-size: 700px 700px;
  background-position: 87% 60%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 0 80px;
  background-color: rgb(226, 235, 247);
  overflow-x: hidden;
}