@import "./styles/feature.css";
@import "./styles/projects.css";
@import "./styles/syllabus.css";
@import "./styles/pricing.css";
@import "./styles/register.css";
@import "./styles//more.css";

:root {
  --primary: #6D6AFE;
  --primary_light: #EBEBFF;
  --secondary: #F1FBFF;
  --black: #132A3A;
  --white: #FFFFFF;
}

.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  background-color: rgb(226, 235, 247);
}

.header {
  position: fixed;
  z-index: 2000;
  top: 0;
  min-height: 70px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  box-sizing: border-box;
  padding: 0 200px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.header__logo {
  width: 150px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 4px;
  cursor: pointer;
}

.header__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__btns__btn {
  width: 130px;
  height: 44px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.header__btns__btn:hover {
  cursor: pointer;
}

.header__btns__btn--bg {
  background: var(--primary);
  color: var(--white);
  margin-left: 5px;
  border: 1px solid transparent;
  box-shadow: 0px 8px 27px rgba(109, 106, 254, 0.3);
}

.footer-w {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #0c79cc;
  flex-direction: column;
  height: 500px;
  color: white;
}

.footer__main__content {
  display: flex;
}

.footer__logo__section,
.footer__quick__links__section,
.footer__contact__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
  margin-bottom: 80px;
  padding: 0 25px;
}

.footer__logo {
  font-weight: 700;
  font-size: 35px;
  font-family: Jura, Helvetica, Arial, sans-serif;
  letter-spacing: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 50px;
}

.footer__bio {
  width: 300px;
  font-family: "open sans";
  font-size: 16px;
}

.footer__quick__links__section {
  margin-left: 140px;
}

.footer__title {
  margin-top: 83px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-size: 23px;
  font-weight: 600;
  font-family: "open sans";
  padding-bottom: 15px;
  width: 190px;
}

.links__container {
  padding-left: 0;
}

.links {
  display: flex;
  padding-top: 20px;
  font-family: "open sans";
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s color ease;
}

.links:hover {
  color: #c5c5c5;
}

.footer__copyright__title {
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

.footer__copyright__title:hover {
  text-decoration: underline;
}

.design-spots {
  position: absolute;
  z-index: 1000;
}

